.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background-color: #000;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.logo img {
  width: 50px;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: darkgray;
  outline: 0;
  cursor: pointer;
}

.button:hover img {
  transform: scale(1.02);
}

.button img {
  height: 100%;
  padding: 0.5em 0.2em;
  transition: transform 250ms ease-in;
}
